.articles {
    &-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        &:before {
            content: url('../icons/articles/Star.svg');
            position: absolute;
            right: -15px;
            top: -21px;
        }
    }
    &-item {
        margin-top: 40px;
        &__img {
            width: 100%;
        }
        &__heading {
            font-family: 'QuincyCF', sans-serif;
            padding: 15px 0;
            font-size: 12px;
            color: $dark-blue;
        }

        &__title {
            font-family: "QuincyCF",sans-serif;
            color: $black;
            font-size: 18px;
            font-weight: 700;
        }

        &__description {
            font-size: 14px;
            font-family: 'Raleway', sans-serif;
            color: $black;
            margin-top: 13px;
            font-weight: 400;
        }
    }
}