.btn {
    position: relative;
    font-family: "QuincyCF", sans-serif;
    font-size: 14px;
    font-weight: 600;
    background: none;
    border: none;
    color: $black;
    margin-top: 63px;
    text-transform: uppercase;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -174%;
        left: 6%;
        width: 235px;
        height: 73px;
        border: 1px solid $red;
        border-radius: 50%;

    }

    &:before {
        transform: rotate(7deg);
    }

    &-questions {
        &:before,&:after {
            left: 11%;
        }
    }

}