.btn {
    position: relative;
    font-family: "QuincyCF", sans-serif;
    font-size: 14px;
    line-height: 130%;
    font-weight: 700;
    background: none;
    border: none;
    color: $black;
    display: block;
    margin: 0 auto;
    margin-top: 27px;
    text-transform: uppercase;
    width: 202px;
    height: 63px;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -3%;
        left: 0%;
        width: 202px;
        height: 63px;
        border: 1px solid $red;
        border-radius: 50%;
    }

    &:before {
        transform: rotate(7deg);
    }
}