.experts {
    &-promo {
        margin-top: 58px;
        font-family: "Raleway", sans-serif;
        font-weight: 400px;
        font-size: 14px;
        line-height: 18.2px;
        position: relative;

        &:before {
            content: url('../icons/experts/ellipse.svg');
            position: absolute;
            top: -50px;
            left: -14px;
            width: 281px;
            height: 106px;
        }
    }

    &-slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 23px;

        &__inner {
            margin-left: 9px;
            display: flex;
            flex-direction: column;
        }

        &__author {
            &-photo {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }

            &-name {
                font-family: 'QuincyCF', sans-serif;
                color: $black;
                font-size: 14px;
                font-weight: 700;
                line-height: 18.2px;
            }
        }

        &__article {
            display: flex;
            flex-direction: column;
            margin-top: 40px;

            &-heading {
                color: $dark-blue;
                font-family: 'Raleway', sans-serif;
                margin-top: 10px;
                font-size: 12px;
                text-transform: uppercase;
                line-height: 15.6px;
            }
        }

        &__description {
            padding: 13px 0 17px 0;
            font-family: 'QuincyCF', sans-serif;
            color: $black;
            font-size: 18px;
            font-weight: 700;
            line-height: 21.6px;
            flex-basis: 100%;
        }

        &__header {
            display: flex;
            flex-wrap: wrap;
        }
    }
}