.header {
    background: #ffffff;

    &-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 26px;
    }


    &-logo {
        &__img {
            width: 133px;
            height: 56px;
        }
    }

    .hamburger {
        span {
            display: flex;
            height: 1px;
            width: 19px;
            background-color: $black;
            margin-bottom: 8px;

            &:nth-child(2) {
                width: 24px;
            }

            &:nth-child(3) {
                width: 20px;
                margin-bottom: 0;
            }
        }
    }

    .menu {
        display: none;
    }
}