.promo {
    &-slider {
        &__img {
            width: 100%;
        }

        &__title {
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            font-weight: 400;
            color: $dark-blue;
            margin-top: 15px;
        }

        &__description {
            font-family: 'QuincyCF', sans-serif;
            margin-top: 10px;
            color: $black;
            font-weight: 700;
        }
    }
}