.questions {
    .title {
        padding: 0 20px;
    }

    .container {
        display: contents;
    }

    &-wrap {
        &:nth-child(3) {
            display: none;
        }
        &--bg {
            background: $brown;
        }
    }

    &-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-item {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;

        &__text {
            font-family: 'QuincyCF', sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: $black;
            margin: 48px 0 30px 0;
        }

        &__header {
            display: flex;
        }

        &__photo {
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }

        &__inner {
            margin-left: 20px;
        }

        &__name {
            font-family: 'QuincyCF', sans-serif;
            color: $black;
            font-size: 14px;
            font-weight: 700;
            line-height: 18.2px;
        }

        &__heading {
            color: $dark-blue;
            font-family: 'Raleway', sans-serif;
            font-size: 10px;
            text-transform: uppercase;
            margin-top: 10px;
            line-height: 15.6px;
        }

        &__description {
            margin-top: 13px;
            color: $black;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 18.2px;
        }
    }

    .bg-color {
        background: #FEFBF6;
    }
}