@media (min-width: 768px) {
    .articles {
        &-items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
 
        }
        &-item {
            width: 48%;
            &:nth-child(1) {
                height: 500px;
            }
            &:nth-child(2) {
                height: 374px;
            }
            &:nth-child(3) {
                height: 455px;
                margin-top: 70px;
            }
            &:nth-child(4) {
                margin-top: -30px;
            }
        }
    }
}