@media (min-width: 768px) {
    .articles {
        &-items {
            display: flex;
            flex-direction: row;
            flex-wrap: no-wrap;
            justify-content: space-between;
            position: relative;

            &:before {
                content: url('../icons/articles/Star.svg');
                position: absolute;
                right: 109px;
                top: -66px;
                z-index: 4;
            }
            &:after {
                content: url('../icons/experts/ellipse.svg');
                position: absolute;
                right: 150px;
                top: -96px;
                z-index: 4;
            }
 
        }

        &-column {
            width: 350px;
        }


        &-item {
            z-index: 5;
        }

 
    }
}