@media (min-width: 768px) {
    .experts {
        &-promo {
            width: 375px;
            margin-left: 99px;
            margin-top: 90px;
            font-size: 15px;
            line-height: 19.5px;
        }
        &-slider {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            &__article {
                max-width: 48%;
                margin-top: 70px;
                &-heading {
                    margin-top: 7px;
                }
            }
            &__author {
                &-name {
                    font-size: 16px;
                    line-height: 20.8px;
                }
            }

            &__description {
                font-size: 22px;
                line-height: 26.4px;
            }

        }
        .btn-more {
            display: none;
        }
    }
}

@media (min-width: 1024px) {
    .experts {
        &-slider {
            &__article {
                display: flex;
                flex-direction: row-reverse;
            }

            &__img {
                margin-right: 20px;
                min-width: 219px;
                min-height: 290px;
            }

            &__header {
                max-height: 200px;
            }
            &__description {
                padding: 0;
            }
        }
    }
}