@media (min-width: 768px) {
    .experts {
        &-promo {
            width: 375px;
            margin-left: 99px;
            margin-top: 90px;
            font-size: 15px;
            line-height: 19.5px;
        }

        &-slider {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;

            &__article {
                max-width: 48%;
                margin-top: 70px;

                &-heading {
                    margin-top: 7px;
                }
            }

            &__author {
                &-name {
                    font-size: 16px;
                    line-height: 20.8px;
                }
            }

            &__description {
                font-size: 22px;
                line-height: 26.4px;
            }

        }

        .btn-more {
            display: none;
        }
    }
}

@media (min-width: 1024px) {
    .experts {
        padding-bottom: 90px;

        &-promo {
            width: 412px;
            margin-left: 143px;
            margin-top: 92px;
            font-size: 16px;
            line-height: 20.8px;
        }

        &-slider {
            &:after {
                content: url('../icons/experts/Star.svg');
                position: absolute;
                right: 379px;
                bottom: -61px;
                width: 171px;
                height: 171px;
            }

            &__article {
                display: flex;
                flex-direction: row-reverse;
                margin-top: 75px;
                z-index: 5;

                &-heading {
                    font-size: 14px;
                    line-height: 18.2px;
                }
            }

            &__img {
                margin-right: 20px;
                min-width: 219px;
                min-height: 290px;
            }

            &__author {
                &-name {
                    width: 60px;
                    font-size: 18px;
                    line-height: 23.4px;
                }

                &-photo {
                    width: 80px;
                    height: 80px;
                }
            }

            &__header {
                max-height: 200px;
            }

            &__description {
                padding: 0;
                margin-top: 30px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .experts {
        &-promo {
            width: 453px;
            font-size: 18px;
            line-height: 20.8px;
        }

        &-slider {
            &:after {
                content: url('../icons/experts/Star.svg');
                position: absolute;
                right: 469px;
                bottom: -58px;
            }

            &__author {
                &-name {
                    width: 150px;
                    margin-top: 15px;
                }
            }

            &__description {
                width: 270px;
                font-size: 24px;
                line-height: 28.8px;
            }
        }
    }
}