@media (min-width: 768px) {
    .footer {
        &-menu {
            &__inner {
                display: flex;
            }
            &__list {
                &:nth-child(2n) {
                    margin-left: 39px;
                }
            }
            &__title {
                width: 164px;
            }
        }
        &-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 60px;
        }

        &-privacy, &-developer {
            margin: 0;
        }
    }
}

@media (min-width: 1024px) {
    .footer {
            &-inner {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }

            &-head {
                width: 40%;
                display: flex;
                align-items: flex-start;
                padding-top: 20px;
            }

            &-wrapper {
                width: 50%;
                display: flex;
                justify-content: space-between;
                margin-top: 0;
            }

            &-menu {
                &__inner {
                    display: flex;
                    flex-direction: column;
                }

                &__list {
                    &:nth-child(2n) {
                        margin-left: 0;
                        margin-top: 15px;
                    }
                }

                &__link {
                    padding-top: 15px;
                    &--cursive {
                        br {
                            display: none;
                        }
                    }
                    &:first-child {
                        padding-top: 0;
                    }
                }
            }

            .subscribe {
                &-form {
                margin-top: 40px;
                width: 100%;
                }
                &-title {
                    text-align: left;
                }
            }
    }
}