@media (min-width: 768px) {
    .footer {
        &-logo {
            padding: 40px 0;

            &__img {
                width: 150px;
                height: 63px;
            }
        }

        &-menu {
            &__inner {
                display: flex;
            }

            &__list {
                &:nth-child(2n) {
                    margin-left: 39px;
                }

                &:nth-child(2) {
                    margin-top: 0;
                }
            }

            &__link {
                padding-top: 15px;
            }

            &__title {
                width: 164px;
            }
        }

        &-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 60px;
        }

        &-privacy {
            font-size: 15px;
            line-height: 19.5px;
        }

        &-developer {
            font-size: 16px;
            line-height: 20.8px;

            &__link {
                padding-top: 3px;
            }
        }

        &-privacy,
        &-developer {
            margin: 0;
        }
    }
}

@media (min-width: 1024px) {
    .footer {
        &-logo {
            padding: 50px 0;
            &__img {
                width: 199px;
                height: 83px;
            }
        }

        &-inner {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        &-head {
            width: 40%;
            display: flex;
            align-items: flex-start;
            padding-top: 0;
        }

        &-wrapper {
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin-top: 0;
        }

        &-menu {
            &__inner {
                display: flex;
                flex-direction: column;
            }

            &__title {
                font-size: 18px;
                line-height: 23.4px;
                width: 184px;
            }

            &__list {
                &:nth-child(2n) {
                    margin-left: 0;
                    margin-top: 15px;
                }
            }

            &__link {
                padding-top: 15px;
                font-size: 16px;
                line-height: 20.8px;

                &--cursive {
                    br {
                        display: none;
                    }
                }

                &:first-child {
                    padding-top: 0;
                }
            }
        }

        .subscribe {
            &-input {
                width: 384px;
            }
            &-form {
                margin-top: 40px;
                width: 100%;
            }

            &-title {
                text-align: left;
                font-size: 18px;
                line-height: 23.4px;
            }
        }

        &-privacy {
            font-size: 16px;
            line-height: 20.8px;
        }

        &-developer {
            font-size: 18px;
            line-height: 23.4px;

            &__link {
                padding-top: 3px;
            }
        }

        &-license {
            font-size: 18px;
            line-height: 23.4px;
            display: block;
            margin: -28px auto;
            margin-bottom: 0;
        }
        
    }
}