@media (min-width: 768px) {
    .header {
        &-inner {
            padding-bottom: 0;
        }

        .menu {
            display: flex;
            width: 100%;

            &-list {
                flex-basis: 100%;
                padding: 30px 77px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__link {
                    font-family: 'QuincyCF', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                    &:before {
                        content: '●';
                        position: absolute;
                        font-size: 10px;
                        left: -27%;
                        top: 4px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .header {
        .menu {
            &-list {
                flex-basis: 100%;
                padding: 40px 150px;
                &__link {
                    font-size: 18px;
                    &:before {
                        content: '●';
                        position: absolute;
                        left: -30%;
                    }
                }
            }
        }
    }
}