@media (min-width: 767.98px) {
    .header {
        &-inner {
            padding-top: 24px;
            padding-bottom: 0;
        }

        &-logo {
            &__img {
                width: 150px;
                height: 63px;
            }
        }

        .menu {
            display: flex;
            width: 100%;

            &-list {
                flex-basis: 100%;
                padding: 30px 77px;
                padding-top: 42px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__link {
                    font-family: 'QuincyCF', sans-serif;
                    font-weight: 700;
                    font-size: 16px;

                    a {
                        color: $black;
                    }

                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }

                    &:before {
                        content: '●';
                        position: absolute;
                        font-size: 8px;
                        left: -30%;
                        top: 6px;
                    }
                }
            }
        }

        .outgoing {
            &-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0 69px;
            }

            &-logo {
                margin-top: 24px;

                &__img {
                    width: 150px;
                    height: 63px;
                }
            }

            &-cross {
                position: absolute;
                top: 44px;
                right: 0;

                span {
                    width: 33px;

                    &:first-child {
                        transform: translateY(1px) rotate(45deg);
                    }

                    &:last-child {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }

            &-menu {
                text-align: left;

                &:first-child {
                    margin-top: 70px;
                }

                &__line {
                    margin: 0;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                &__link {
                    font-size: 22px;
                    line-height: 28.6px;
                }

                &__last {
                    &-link {
                        font-size: 16px;
                        line-height: 20.8px;
                    }
                }
            }

            &-socials {
                padding-bottom: 95px;
            }
        }
    }
}

@media (min-width: 1023.98px) {
    .header {
        &-inner {
            padding-top: 28px;
        }

        .hamburger {
            span {
                width: 34px;
                margin-bottom: 12px;

                &:nth-child(2) {
                    width: 43px;
                }

                &:nth-child(3) {
                    width: 37px;
                }
            }
        }

        &-logo {
            &__img {
                width: 199px;
                height: 83px;
            }
        }

        &-search {
            &__icon {
                width: 24px;
                height: 24px;
            }
        }

        .menu {
            &-list {
                flex-basis: 100%;
                padding: 40px 150px;

                &__link {
                    font-size: 18px;
                    line-height: 23.4px;

                    &:before {
                        content: '●';
                        position: absolute;
                        left: -30%;
                        top: 1px;
                    }
                }
            }
        }

        .outgoing {
            overflow-y: hidden;

            &-wrapper {
                padding: 0 169px;
                position: relative;
                z-index: 5;
            }

            &-logo {
                margin-top: 28px;

                &__img {
                    width: 199px;
                    height: 83px;
                }
            }

            &-cross {
                position: absolute;
                top: 58px;
                right: 12px;
            }

            &-menu {
                &__line {
                    margin: 0;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                &__link {
                    font-size: 24px;
                    line-height: 31.2px;
                    padding: 15px 0;
                }
            }

        }
    }
}

@media (min-width: 1279.98px) {
    .header {
        &-inner {
            padding-top: 20px;
        }

        &-logo {
            &__img {
                width: 203px;
                height: 110px;
            }
        }

        .menu {
            &-list {
                padding: 40px 235px;

                &__link {
                    &:before {
                        content: '●';
                        position: absolute;
                        left: -42%;
                        top: 1px;
                    }
                }
            }
        }

        .outgoing {
            overflow-y: hidden;

            &-wrapper{
                padding: 0;
                width: 710px;
                margin: 0 auto;
            }

            &-logo {
                margin-top: 28px;

                &__img {
                    width: 203px;
                    height: 110px;
                }
            }

            &-cross {
                position: absolute;
                top: 63px;
                right: 12px;
            }

            &-menu {
                &__line {
                    margin: 0;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                &__link {
                    font-size: 24px;
                    line-height: 31.2px;
                    padding: 15px 0;
                }
            }
        }
    }
}