@media (min-width: 768px) {
    .popular {
        &-items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-column {
            max-width: 350px;
        }

        &-item {
            &__title {
                font-size: 22px;
            }

            &__description {
                font-size: 15px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .popular {
        &-column {
            min-width: 300px;
            max-width: 30%;
            &:nth-child(3) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 1440px) {
    .popular {
        &-column {
            min-width: 300px;
            max-width: 32%;
        }
    }
}