@media (min-width: 768px) {
    .promo {
        .container {
            &:first-child {
                padding: 0 24px;
            }

            &:nth-child(2) {
                position: absolute;
                top: 71px;
            }
        }

        &-slider {
            &__img {
                width: 100%;
                max-height: 385px;
            }

            &__title {
                font-family: 'QuincyCF', sans-serif;
                font-size: 24px;
                font-weight: 700;
                color: $black;
                margin-top: 15px;
                max-width: 308px;
                line-height: 28px;
            }

            &__description {
                display: flex;
                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 130%;
                margin-top: 15px;
                max-width: 268px;
                color: $black;
            }
        }
    }
}

@media (min-width: 1024px) {
    .promo {
        .container {
            &:first-child {
                padding: 0 32px;
            }

            &:nth-child(2) {
                position: absolute;
                top: 57px;
            }
        }

        &-slider {
            &__img {
                width: 100%;
                max-height: 420px;
            }

            &__heading {
                font-size: 14px;
                line-height: 18px;
            }

            &__title {
                font-family: 'QuincyCF', sans-serif;
                font-size: 36px;
                line-height: 43px;
                max-width: 413px;
            }

            &__description {
                font-size: 16px;
                max-width: 413px;
                line-height: 20px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .promo {
        .container {
            &:first-child {
                padding: 0 120px;
            }

            &:nth-child(2) {
                padding: 0;
                padding-left: 64px;
            }
        }

        &-slider {
            &__img {
                max-height: 501px;
            }
        }
    }
}