@media (min-width: 575.98px) {
    .promo {
        &-slider {
            &__wrap {
                padding: 0;
            }

            &__counter {
                top: -103px;
                padding: 0 30%;

                &-current {
                    color: $dark-blue;
                }
            }
        }
    }

    .slick-dots {
        top: -125px;
    }
}

@media (min-width: 767.98px) {
    .promo {
        &-slider {
            position: relative;

            &__item {
                position: relative;
            }

            &__img {
                width: 100%;
                max-height: 385px;
            }

            &__wrap {
                position: absolute;
                top: 71px;
                padding: 0;
                padding-left: 43px;
            }

            &__heading {
                margin-top: 0;
            }

            &__title {
                font-family: 'QuincyCF', sans-serif;
                font-size: 24px;
                font-weight: 700;
                color: $black;
                margin-top: 15px;
                max-width: 308px;
                line-height: 28.8px;
            }

            &__description {
                display: flex;
                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 130%;
                margin-top: 15px;
                max-width: 268px;
                color: $black;
            }

            &__counter {
                font-size: 18px;
                line-height: 23.4px;
                top: -60px;
                padding: 0 35%;
            }
        }
        .slick-dots {
            top: -85px;
        }
    }

    @media (min-width: 1023.98px) {
        .promo {
            &-slider {
                &__img {
                    width: 100%;
                    max-height: 400px;
                }

                &__wrap {
                    position: absolute;
                    top: 57px;
                    padding-left: 52px;
                }

                &__heading {
                    font-size: 14px;
                    line-height: 18px;
                }

                &__title {
                    font-family: 'QuincyCF', sans-serif;
                    font-size: 36px;
                    line-height: 43px;
                    max-width: 413px;
                }

                &__description {
                    font-size: 16px;
                    max-width: 413px;
                    line-height: 20px;
                }

                &__counter {
                    padding: 0 38%;
                }
            }
        }
    }

    @media (min-width: 1279.98px) {
        .promo {
            &-slider {
                &__img {
                    max-height: 501px;
                }

                &__wrap {
                    top: 107px;
                    padding: 0;
                    padding-left: 64px;
                }

                &__title {
                    max-width: 523px;
                }

                &__description {
                    margin-top: 30px;
                    max-width: 439px;
                }
                
                &__counter {
                    padding: 0 40%;
                }
            }
        }
    }
}