@media (min-width: 768px) {
    .questions {
        background-color: #F0FBFE;
        padding-bottom: 34px;

        .bg-color {
            background-color: #F0FBFE;
        }

        .title {
            padding-top: 50px;
        }

        &-items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-item {
            max-width: 350px;

            &__name {
                font-size: 16px;
                line-height: 20.8px;
            }

            &__heading {
                margin-top: 7px;
            }

            &__text {
                font-size: 22px;
                min-height: 52px;
                line-height: 26.4px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .questions {
        padding-bottom: 58px;
        .container {
            &:nth-child(3) {
                display: flex;
            }
        }

        &-item {
            max-width: 350px;

            &__name {
                font-size: 18px;
                line-height: 23.4px;
            }

            &__heading {
                font-size: 14px;
                line-height: 18.2px;
            }

            &__text {
                font-size: 24px;
                min-height: 58px;
                line-height: 28.8px;
                margin: 70px 0 40px 0;
            }

            &__description {
                font-size: 16px;
                margin-top: 25px;
            }

        }
    }
}

@media (min-width: 1440px) {
    .questions {
        &-items {
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 44px;
            .container {
                padding: 0;
            }
        }

        &-item {
            &__photo {
                width: 80px;
                height: 80px;
            }
        }
    } 
}